.main {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
}

.navHome {
  padding: 15px 0;
  font-size: 1rem;
  font-weight: bold;
  background-color: #013e65;
  height: 2px;
  width: 80px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.navHome a {
  text-decoration: none;
  color: #fff;
}

.navHome:hover {
  background-color: #005f99;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2.5rem;
  color: var(--accent);
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  color: var(--text-secondary);
}

/* Grid de Recursos */
.resourceGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background-color: var(--bg-card);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--shadow-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.card h2 {
  color: var(--accent);
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 15px;
  line-height: 1.5;
}

.card a {
  font-weight: bold;
  color: #0070f3;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px var(--shadow-strong);
}

/* Responsivo */
@media (max-width: 600px) {
  .header h1 {
    font-size: 2rem;
  }

  .card {
    padding: 20px;
  }
}
